<!-- Revisar si hay datos antes de mostrar el detalle del técnico -->

@if (datos()) {
<br>
<mat-card class="tech-card" appearance="outlined" style="margin-top: 10px;">

    <!-- Encabezado del card con avatar (OPCIONAL) -->
    <mat-card-header class="tech-card__header">

        <!-- Título y subtítulo del card -->
        <div class="tech-card__title">
            <mat-card-title class="tech-card__name">
                {{ datos()?.nombre }}
            </mat-card-title>
        </div>
    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-card-content class="tech-card__content">
        <!-- Panel de información -->
        <section class="tech-info">

            <!-- Contenedor del nombre-->
            <div class="info-row">
                <span class="info-label">Nombre</span>
                <span class="info-value">{{ datos()?.nombre }}</span>
            </div>

            <!-- Contenedor del descripción -->
            <div class="info-row" *ngIf="datos()?.descripcion">
                <span class="info-label">Descripción</span>
                <span class="info-value">{{ datos()?.descripcion }}</span>
            </div>

            <!-- Contenedor del etiquetas -->
            <div class="info-row">
                <span class="info-label">Etiquetas</span>
                <div class="chips">
                    <mat-chip-listbox aria-label="Especialidades">
                        <!-- Recorrer las especialidades del técnico y mostrar su nombre-->
                        @for (item of datos()?.etiquetas; track item.id) {
                        <mat-chip-option class="chip-primary"> {{item.nombre}}
                        </mat-chip-option>
                        }
                    </mat-chip-listbox>
                </div>
            </div>

            <!-- Contenedor del especialidades push-->
            <div class="info-row">
                <span class="info-label">Especialidades</span>
                <div class="chips">
                    <mat-chip-listbox aria-label="Especialidades">
                        <!-- Recorrer las especialidades del técnico y mostrar su nombre-->
                        @for (item of datos()?.especialidades; track item.id) {
                        <mat-chip-option class="chip-secondary"> {{item.nombre}}
                        </mat-chip-option>
                        }
                    </mat-chip-listbox>
                </div>
            </div>
        </section>
    </mat-card-content>
    
    <!-- Acciones del card -->
    <mat-card-actions class="tech-card__actions">

        <!-- Botón de regresar (llamando al signal)-->
        <button mat-stroked-button color="primary" class="btn-back" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
            Regresar
        </button>
    </mat-card-actions>
</mat-card>
}
@else {
<mat-card class="tech-card tech-card--empty" appearance="outlined">
    <mat-card-content class="empty">
        <mat-icon>person_search</mat-icon>
        <p class="mat-body text">Categoría no encontrada</p>
        <button mat-stroked-button color="primary" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
            Regresar
        </button>
    </mat-card-content>
</mat-card>
}